.objetivos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 30px;

    .obj-card {
        background-color: #121317;
        padding: 25px;
        border-radius: 12px;
        text-align: center;
        border: 1px solid #29292e;

        span {
            font-size: 2.5rem;
            display: block;
            margin-bottom: 15px;
        }

        h3 {
            color:  #ffffff;
            font-size: 1.1rem;
            margin-bottom: 10px;
        }

        p {
            color: #9ca3af;
            font-size: 0.9rem;
        }
    }
}

.center-btn {
    text-align: center;
}